:root{
    --altura-header:180px;
    --color-primario:rgb(183, 49, 44);
    --color-secundario:rgb(182, 176, 176);
    --padding-left-right:2rem;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: var(--color-primario);
    height:var(--altura-header);
}
a{
    text-decoration: none;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color:black;
}
ul{
    list-style: none;
}
.barra {
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding-left-right);
}
.menu{
    display: none;
}
.menu:checked + .ul-link{
    height:calc(100vh - var(--altura-header));
}
.logo-en-blanco{
    width: 100px;
    height: 100px;
    margin:10px;
    margin-bottom: 50px;

}
.list_icon {
    color:white;
    cursor:pointer;
}
.ul-link {
    width: 100%;
    position: absolute;
    background-color: rgb(182, 176, 176);
    top: var(--altura-header);
    height:0;
    left: 0;
    overflow: hidden;
    /*height: calc(100vh - var(--altura-header));*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;

    transition: all.3s;
}

.link {
    font-size: 4.5rem;
    color:black;
    font-weight: bold;
}

@media(max-width:430px){
   
}