/*Header Css*/
:root{
    --altura-header:124px;
    --color-primario:rgb(183, 49, 44);
    --color-secundario:rgb(182, 176, 176);
    --padding-left-right:2rem;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: var(--color-primario);
    height:var(--altura-header);
    font-family: 'Inria Serif';
    position: sticky;
    top: 0;
    z-index: 10000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    
    
}
a{
    text-decoration: none;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color:black;
}
ul{
    list-style: none;
    width: 1500px;
}
.barra {
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding-left-right);
}
.menu{
    display: none;
}
.menu:checked + .ul-link{
    height: 350px;
    z-index: 9999;
}
.logo-en-blanco{
    width: 150px;
    height: 100px;
    margin:12px;
    margin-bottom: 15px;

}
.list_icon {
    color:white;
    cursor:pointer;
    width: 50px;
}
.ul-link {
    width: 250px;
    position: absolute;
    background-color: rgba(182, 176, 176, 0.87);
    top: var(--altura-header);
    height:0;
    left: 0;
    overflow: hidden;
    /*height: calc(100vh - var(--altura-header));*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    border-radius: 30px;

    transition: all.3s;
}
.link {
    font-size: 24px;
    color:black;
    font-weight: normal;
    margin: 2px;
    background-color: #A19A9A;
    border-radius: 30px;
    padding: 2px;
}
.li-link{
    padding: 2px;
    width: 150px;
}
@media(min-width:768px){
.label-menu {
    display: none;
}
.ul-link {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 1rem;
}
.link {
    font-size: 1.2rem;
    transition: all .3s;
    padding: .2rem .7rem;
}
.link:hover{
    background-color: rgba(183, 49, 44, 0.726);
    border-radius: 30px;
    font-weight: bold;
          
}      
}