* {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.mainTitle {
  text-align: center;
  font-size: larger;
  margin: 5%;
}

form {
    border-style: solid;
    display: flex;
    flex-direction: column;
    color:white;
    border-color: #980101;
    background-color: #980101;
}

#name, #email, #telephone, #message, #button {
    margin: 6px;
}